<div>
  <h1>Top</h1>
  <app-search-user-cocktails></app-search-user-cocktails>
  <!-- <app-management-user-materials></app-management-user-materials> -->

  <!--　移行作業未完了のため一旦コメントアウト -->
  <!-- <div class="search-cocktails-button">
    <button
      mat-raised-button
      class="btn btn-secondary"
      title="search cocktails"
    >
      Search Cocktails</button
    ><br />
  </div> -->

  <p>￬￬￬￬￬ Admin menu. ￬￬￬￬￬</p>

  <!--　移行作業未完了のため一旦コメントアウト -->
  <!-- <div class="edit-cocktails-button">
    <button mat-raised-button class="btn btn-secondary" title="edit cocktails">
      Management Cocktails
    </button>
  </div> -->

  <div class="edit-materials-button">
    <button
      mat-raised-button
      class="btn btn-secondary"
      title="edit materials"
      (click)="onClickManagementMaterials()"
    >
      Management Materials
    </button>
  </div>
</div>
