<ng-container>
  <div *ngIf="cocktailDetail">
    <h1 mat-dialog-title>{{ cocktailDetail.name }}</h1>
    <div mat-dialog-content>
      <img
        [src]="nonImageURL"
        width="380"
        height="230"
        class="cocktail-image"
      />
      <div class="cocktail-recipi">
        <h3>レシピ</h3>
        <p>ジン： 20ml</p>
        <p>トニックウォーター： 40ml</p>
      </div>
      <div class="cocktail-remark">
        <p>ここにはカクテルの詳細情報(m_cocktail.remark)を表示したい。</p>
        <p>
          例）このカクテルはなんかとてもいい感じで飲むととてもキマる。まじ、「飲んでみな、飛ぶぞ」って感じ。
        </p>
        <p></p>
      </div>
    </div>
  </div>
</ng-container>
